<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handlelife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HandleLife">

        <activity
            android:name=".create.CreateActivity"
            android:label="@string/title_activity_create"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.handlelife.CREATE_PAGE" />

                <category android:name="com.example.handlelife.CREATE_DIVERSE_ITEMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".note.EditActivity"/>
        <activity android:name=".note.BasenoteActivity"/>

        <activity
            android:name=".overview.OverViewActivity"
            android:label="@string/title_activity_overview"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.example.handlelife.OVERVIEW_PAGES" />

                <category android:name="com.example.handlelife.OVERVIEW_ALL_ITEMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.handlelife.BEGINNING_ACTIVITY" />
            </intent-filter>
        </activity>
    </application>

</manifest>